@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #fdfdfd;
  --text-color: #333;
  --main-color: #754ef9;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, .2);
}

html {
  font-size: 70%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

span {
  color: var(--main-color);
}

section {
  min-height: auto;
  padding: 10rem 7% 5rem;
}

h2 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 5rem;
}

h2 span {
    font-size: 3.5rem; 
}

.heading {
    font-size: 5.2rem;
    text-align: center;
    margin-bottom: 5rem;
}

.btn {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--main-color);
  border-radius: .6rem;
  box-shadow: 0 .2rem .5rem var(--shadow-color);
  font-size: 1.8rem;
  color: var(--white-color);
  letter-spacing: .1rem;
  font-weight: 600;
  border: .2rem solid transparent;
  transition: .5s ease;
}

.btn:hover {
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}

.ghost {
  display:inline-block;
  padding:1.2rem 2.8rem;
  border-radius:.6rem;
  background:transparent;
  border:.2rem solid rgba(0,0,0,0.2); 
  color:var(--text-color);
  font-weight:600;
  text-decoration:none;
  transition:.25s ease;
  font-size: 1.8rem; 
}

.ghost:hover{
  border-color:var(--main-color);
  color:var(--main-color);
  background:transparent
}

.inicio { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2.5rem 7%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: top 0.3s, background 0.5s; 
}

.inicio.sticky {
  background: var(--bg-color);
  box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.inicio.hidden {
  top: -100px; 
}

.logo {
  font-size: 3.2rem; 
  color: var(--main-color);
  font-weight: 700;
  position: absolute; 
  left: 7%;
  top: 2.5rem;
  margin-right: 0;
}

.navbar {
  width: 100%; 
  display: flex;
  justify-content: center;
  padding-left: 0; 
}

.navbar ul {
  display: flex;
  gap: 3.5rem; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar a {
  position: relative;
  font-size: 2rem; 
  color: gray;
  font-weight: 500;
  transition: .3s;
}

.inicio.sticky .navbar a {
  color: var(--text-color);
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

.navbar a.active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: .25rem;
  background: var(--white-color);
}

.inicio.sticky .navbar a.active::before {
  background: var(--main-color);
}

.home {
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  padding: 12rem 7% 5rem; 
  min-height: 100vh;
}

.home .home-content {
  max-width: 55rem;
  margin-right: 6rem; 
}

.home-content h3 {
  font-size: 3.8rem; 
  font-weight: 500;
}

.home-content h1 {
  font-size: 7.2rem; 
  font-weight: 800;
}

.home-content p {
  font-size: 2.1rem; 
  margin: 1.8rem 0 3.5rem;
  max-width: 500px;
  line-height: 1.5;
}

.home-content .cta {
    display: flex;
    gap: 2rem;
}

.home-img { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px; 
    height: 480px; 
    position: relative; 
    margin-left: 0; 
}

.home-img::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    height: 100%;
    background: var(--main-color); 
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 60%; 
    z-index: 1;
}

.home-img img {
    width: 400px; 
    height: 400px; 
    object-fit: cover;
    border-radius: 50%; 
    position: relative;
    z-index: 2;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio-box {
    flex-basis: 30%; 
    min-width: 250px; 
    height: auto;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    text-align: left;
}

.portfolio-box img,
.portfolio-box video {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    transition: 0.5s ease;
}

.portfolio-layer {
    background: #fff; 
    padding: 1.5rem;
    text-align: center;
}

.portfolio-layer h4 {
    font-size: 26px;
    margin-bottom: 0.8rem;
}

.portfolio-layer p {
    font-size: 17px;
    line-height: 1.6;
}

.portfolio-box:hover .portfolio-layer h4 {
    background: transparent;
    padding: 0;
    border-radius: 0;
}

.portfolio h2 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 5rem;
}

.portfolio h2 span {
    font-size: 3.5rem; 
}

.contact {
  text-align: center; 
}

.contact form {
  max-width: 75rem; 
  margin: 0 auto 3rem; 
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.8rem; 
  font-size: 1.8rem; 
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: .8rem;
  margin: .7rem 0;
  box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

#contato label {
    font-size: 3.1rem;
    font-weight: 500;
    color: #333;
}

#contato input[type="text"],
#contato input[type="email"],
#contato textarea {
    font-size: 2.05rem;
    padding: 10px;
}

#enviar {
    font-size: 1.2rem;
    padding: 12px 25px;
    font-weight: 600;
}

.links {
  text-align: center; 
}

.links-list{
  display:flex;
  gap: 2rem;
  flex-wrap:wrap;
  justify-content: center; 
  max-width: 70rem; 
  margin: 0 auto; 
}

.links-list a{
  padding:1.4rem 2.2rem; 
  border:2px solid rgba(0,0,0,0.1);
  font-size: 2rem; 
  color: var(--text-color);
  border-radius: 8px;
  transition: .3s;
}

.links-list a:hover {
    background: var(--main-color);
    color: var(--white-color);
    border-color: var(--main-color);
}

.footer {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;
  padding: 2.5rem 7%;
  background: var(--main-color);
  gap: 2rem; 
}

.footer-text p {
  font-size: 1.8rem; 
  color: var(--white-color);
  text-align: center; 
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem; 
  height: 5rem; 
  padding: 0;
  background: var(--white-color);
  border-radius: .8rem;
  transition: .5s ease;
  font-size: 2.8rem; 
  color: #333;
  line-height: 1;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--white-color);
}

@media (max-width: 450px) {
  .footer {
    flex-direction: column;
    gap: 1rem;
  }
  .footer-text p {
    margin-top: 1rem;
    order: 2;
  }
  .footer-iconTop {
    order: 1;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 65%; 
  }
}

@media (max-width: 991px) {
  .inicio {
    padding: 2.5rem 3%;
  }
  .logo {
    left: 3%;
  }
  section {
    padding: 8rem 3% 3rem;
  }
  
  .home .home-content {
    margin-right: 3rem; 
  }
}

@media (max-width: 768px) {
  .navbar {
    display: none; 
  }
  
  .home {
    flex-direction: column; 
    text-align: center;
    padding: 15rem 3% 10rem;
    gap: 30px; 
    justify-content: flex-start; 
  }
  
  .home .home-content {
    margin-right: 0; 
  }
  
  .home-content h1 {
    font-size: 6.2rem;
  }
  
  .home-content .cta {
      justify-content: center;
  }

  .home-img,
  .home-img::before {
    width: 350px; 
    height: 350px; 
  }
  
  .home-img img {
      width: 280px; 
      height: 280px; 
  }

  .portfolio .portfolio-container {
    grid-template-columns: 1fr; 
    max-width: 40rem;
  }
  
  .contact form .input-box input {
    width: 100%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%; 
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer-text p {
    text-align: center;
    margin-top: 2rem;
  }
}
